<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
<!--菜品的添加-->
    <insert id="addDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        values(#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
<!--    批量删除菜品-->
    <delete id="deleteDishMapper">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--    菜品的分页查询-->
    <select id="selectDishPageMapper" resultType="com.sky.vo.DishVO">
        select dish.*,category.name categoryName from dish left join category on dish.category_id = category.id
        <where>
            <if test="categoryId!=null">category_id = #{categoryId} and</if>
            <if test="name!=null and name!=''">name like concat('%',#{name},'%') and</if>
            <if test="status!=null">status = #{status}</if>
        </where>
        order by update_time desc
    </select>
<!--    根据ID集合查询出所有没有启用的id集合-->
    <select id="selectDishStatusMapper" resultType="java.lang.Long">
        select id from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and status = 0
    </select>
</mapper>
