<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
<!--菜品的添加-->
    <insert id="addDish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name, category_id, price, image, description, status, create_time, update_time, create_user, update_user)
        values(#{name},#{categoryId},#{price},#{image},#{description},#{status},#{createTime},#{updateTime},#{createUser},#{updateUser})
    </insert>
<!--    修改菜品的基本信息-->
    <update id="updateDishMapper">
        update dish 
        <set>
            <if test="categoryId!=null">category_id = #{categoryId},</if>
            <if test="description!=null">description = #{description},</if>
            <if test="image!=null and image!=''">image = #{image},</if>
            <if test="name!=null and name!=''">name = #{name},</if>
            <if test="price!=null">price = #{price},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="updateTime!=null">update_time = #{updateTime},</if>
            <if test="updateUser!=null">update_user = #{updateUser}</if>
        </set>
        where id = #{id}
    </update>
    <!--    批量删除菜品-->
    <delete id="deleteDishMapper">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--    菜品的分页查询-->
    <select id="selectDishPageMapper" resultType="com.sky.vo.DishVO">
        select dish.*,category.name categoryName from dish left join category on dish.category_id = category.id
        <where>
            <if test="categoryId!=null">category_id = #{categoryId} and</if>
            <if test="name!=null and name!=''">name like concat('%',#{name},'%') and</if>
            <if test="status!=null">status = #{status}</if>
        </where>
        order by update_time desc
    </select>
<!--    根据ID集合查询出所有没有启用的id集合-->
    <select id="selectDishStatusMapper" resultType="java.lang.Long">
        select id from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        and status = 0
    </select>
<!--    菜品的查询回显-->
    <select id="selectByIdMapper" resultType="com.sky.vo.DishVO">
        select * from dish where id = #{id}
    </select>
<!--    动态查询分类下的菜品，和分页查询其实一样-->
    <select id="list" resultType="com.sky.entity.Dish">
        select * from dish
        <where>
            <if test="name != null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
