<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <insert id="addOrderShoppingCartMapper" useGeneratedKeys="true" keyProperty="id">
        insert into orders(number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark, phone, address, user_name, consignee, cancel_reason, rejection_reason, cancel_time, estimated_delivery_time, delivery_status, delivery_time, pack_amount, tableware_number, tableware_status)
        VALUES
        (#{number},#{status},#{userId},#{addressBookId},#{orderTime},#{checkoutTime},#{payMethod},#{payStatus},#{amount},#{remark},#{phone},#{address},#{userName},#{consignee},#{cancelReason},#{rejectionReason},#{cancelTime},#{estimatedDeliveryTime},#{deliveryStatus},#{deliveryTime},#{packAmount},#{tablewareNumber},#{tablewareStatus})
    </insert>
<!--    修改订单信息-->
    <update id="modifyOrderMapper">
        update orders
        <set>
            <if test="number!=null">number = #{number},</if>
            <if test="status!=null">status = #{status},</if>
            <if test="userId!=null">user_id = #{userId},</if>
            <if test="addressBookId!=null">address_book_id = #{addressBookId},</if>
            <if test="orderTime!=null">order_time = #{orderTime},</if>
            <if test="checkoutTime!=null">checkout_time = #{checkoutTime},</if>
            <if test="payMethod!=null">pay_method = #{payMethod},</if>
            <if test="payStatus!=null">pay_status = #{payStatus},</if>
            <if test="amount!=null">amount = #{amount},</if>
            <if test="remark!=null">remark = #{remark},</if>
            <if test="phone!=null">phone = #{phone},</if>
            <if test="address!=null">address = #{address},</if>
            <if test="userName!=null">user_name = #{userName},</if>
            <if test="consignee!=null">consignee = #{consignee},</if>
            <if test="cancelReason!=null">cancel_reason = #{cancelReason},</if>
            <if test="rejectionReason!=null">rejectio_reason = #{rejectionReason},</if>
            <if test="cancelTime!=null">cancel_time = #{cancelTime},</if>
            <if test="estimatedDeliveryTime!=null">estimated_delivery_time = #{estimatedDeliveryTime},</if>
            <if test="deliveryStatus!=null">delivery_status = #{deliveryStatus},</if>
            <if test="deliveryTime!=null">delivery_time = #{deliveryTime},</if>
            <if test="packAmount!=null">pack_amount = #{packAmount},</if>
            <if test="tablewareNumber!=null">tableware_number = #{tablewareNumber},</if>
            <if test="tablewareStatus!=null">tableware_status = #{tablewareStatus}</if>
        </set>
        where id = #{id}
    </update>
    <!--    通过订单状态和下单时间查询订单-->
    <select id="selectByStatusAndTimeMapper" resultType="com.sky.entity.Orders">
        select * from orders where status = #{status} and order_time &lt; #{orderTime}
    </select>
    <!--    根据订单号查询订单-->
    <select id="getByNumber" resultType="com.sky.entity.Orders">
        select * from orders where number = #{orderNumber}
    </select>
<!--    根据订单ID（主键）查询订单-->
    <select id="selectOrderByIdMapper" resultType="com.sky.entity.Orders">
        select * from orders where id = #{id}
    </select>
<!--    营业额统计-->
    <select id="turnoverStatMapper" resultType="java.lang.Double">
        select count(amount) from orders
        <where>
            status = 5
            <if test="begin!=null">and order_time &gt;= #{begin}</if>
            <if test="end!=null">and order_time &lt;= #{end}</if>
        </where>
    </select>
<!--    统计某个时间段内所有订单的数量-->
    <select id="allOrderStatMapper" resultType="java.lang.Integer">
        select count(*) from orders where order_time between #{begin} and #{end}
    </select>
<!--    统计某个时间段内有效的订单的数量-->
    <select id="allValidStatMapper" resultType="java.lang.Integer">
        select count(*) from orders where status = #{status} and order_time between #{begin} and #{end}
    </select>
</mapper>