<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetMealDishMapper">
<!--    批量删除Setmeal_Dish表中信息-->
    <delete id="deleteSetmealDishMapper">
        delete from setmeal_dish where setmeal_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--    判断批量删除的菜品中是否有菜品包含在套餐中-->
    <select id="selectByDishIdMapper" resultType="java.lang.Long">
        select setmeal_id from setmeal_dish where dish_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

<!--    根据套餐ID查询套餐中所有单品信息-->
    <select id="selectSetmealDishByIdMapper" resultType="com.sky.entity.SetmealDish">
        select * from setmeal_dish where setmeal_id = #{setmealId}
    </select>
</mapper>