<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">
<!--    添加用户-->
    <insert id="addUserMapper">
        insert into user(openid, name, phone, sex, id_number, avatar, create_time)
        values (#{openid},#{name},#{phone},#{sex},#{idNumber},#{avatar},#{createTime})
    </insert>
<!--    根据openid查询用户-->
    <select id="selectByOpenId" resultType="com.sky.entity.User">
        select * from user where openid = #{openid}
    </select>
<!--    查询指定时间段内所有用户数量-->
    <select id="userAllStatMapper" resultType="java.lang.Long">
        select count(*) from user where create_time &lt;= #{end}
    </select>
<!--    查询指定时间段内新增加的用户的数量-->
    <select id="userNewAddStatMapper" resultType="java.lang.Integer">
        select count(*) from user where create_time between #{begin} and #{end}
    </select>
</mapper>